<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title></title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
            rel="stylesheet" />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/login.css')}}" />
    </head>
    <body>
        <!-- partial:index.partial.html -->
        <div class="login-form">
            <form action="/loginDashboard" method="POST">
                <h1>Login</h1>
                <div class="content">
                    <div class="input-field">
                        <input
                            type="text"
                            placeholder="Username"
                            name="uname"
                            autocomplete="nope" />
                    </div>
                    <div class="input-field">
                        <input
                            type="password"
                            placeholder="Password"
                            name="pwd"
                            autocomplete="new-password" />
                    </div>
                    <a href="#" class="link">Forgot Your Password?</a>
                    <a href="{{url_for('createAccount')}}" class="link">Create New Account</a>
                </div>
                <div class="action">
                    <input type="submit" value="Submit" class="button" />
                    <input
                        type="button"
                        onclick="reset()"
                        class="button"
                        value="Reset" />
                </div>
            </form>
        </div>
        <!-- partial -->
        <script src="{{url_for('static', filename='js/login.js')}}"></script>
        <script>
            function reset() {
                document.getElementById("myForm").reset();
            }
        </script>
    </body>
</html>
